@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow:700');

header {
	background-color: #FFED74;
	border: 1px white solid;
	padding: 20px;
}
nav{
	background-color: #E8C66A;
	border: 1px white solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px white solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px white solid;
	padding: 20px;
}
body {
	background-color: #010101;
}
#yosemite img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h1, p {
	color: #FEFEFE;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
h2, p {
	color: #FEFEFE;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
h3, p {
	color: #FEFEFE;
	font-family: 'Pragati Narrow', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}