body {
	background-color: #010101;
}

h1, p {
	color: #FEFEFE;
	font-family: Arial, sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}
h2, p {
	color: #FEFEFE;
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}